<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emmy Blog - <%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <%- include('navbar') %>

    <main class="container">
        <h1>Blog Details</h1>
        <div class="blogs">
            <% blog.forEach(blog => { %>
                <div class="blog">
        
                        <h2><%= blog.title %></h2>
                        <p><%= blog.snippet %></p>
                        <p><%= blog.body %></p>
                    
                        <button><a href="/blogs">Back</a></button>
                        <button ><a  class="delete-btn" data-doc="<%= blog._id %>">Delete</a></button>
                </div>
            <% }); %>
        </div>
    </main>
    <script>
        const deleteBtn = document.querySelector('.delete-btn');
        deleteBtn.addEventListener('click', (e) => {
            const id = e.target.getAttribute('data-doc');
            fetch(`/blogs/${id}`, {
                method: 'DELETE'
            }).then(res => res.json())
            .then(data => {
              
                window.location.href = '/blogs';
            }).catch(err => console.log(err));
        })
    </script>
</body>
</html>